.App {
  text-align: center;
}


.Listbox {
  display:flex;
  flex-flow: row;
}

button:hover {
  cursor: pointer;
}

.Dropdown-entry {
  padding: 0px 3px 0px 3px;
}

.ButtonHolder{
  width:100%;
  display: flex;
  justify-content: space-evenly;
}


.Dropdown {
  border: 1px solid black;
  margin: auto;
  display: block;
  width: auto;
}

.DueDateSpan {
  width: 90%;
  display: block;
}

.Close-button{
  height: 20px;
  width: 10%;
  display:block;
}

.Dropdown-entry:hover, .Dropdown:hover, .Close-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.Dropdown-list {
  /* padding: 0px 3px 0px 3px; */
  border-width: 1px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
  height: 20%;
  min-height: 100px;
  background-color: white;
}

.highlight{
  background-color: #e9f627;
}

.Attributions {
  font-size: 10pt;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.AddDateButton {
  padding: 0px;
  margin-left: 5px;
}

.add-button{
  margin: 10px;
}

.ItemNameCheckboxDiv {
  padding-top: 5px;
  width: 30%;
}

.App-intro {
  font-size: large;
}

.To-do {
  width: 50%;
}

.Completed {
  width: 50%;
}

#SetDateButton {
  border: 1px solid black;
  display: block;
  height: 20px;
}

#SetDateButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ModalTop{
  width:100%;
  display:flex;
}

.Completed-items {
  text-decoration: line-through;
}

.ToDoListEntry {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
}


.Dropdown-title{
  padding: 3px;
}

.Modal-container {
  position: relative;
  z-index: 4;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 310px;
  height: 80px;
  background-color: #B9B9B9;
  box-shadow: 5px 5px 5px #366343;
  border-radius: 7px;
  margin-left: 1%;
  padding: 7px 0px 7px 0px;
}
